<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Chez moi ça marche !</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link href="http://fonts.googleapis.com/css?family=Convergence" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">
		<link rel="stylesheet" href="css/style.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h2 class="center">Coucou !</h2>
					<div class="spacer"></div>
					<h3>Benjamin Clay</h3>
					<p>Expert Web et Symfony &amp; éleveur de licorne</p>
					<p><img src="images/twitter.png" class="simple inline" />@ternel</p>

					<div class="spacer"></div>
					<h3>Joel Wurtz</h3>
					<p>Expert Web &amp; tueur de licorne</p>
					<p><img src="images/twitter.png" class="simple inline" />@joelwurtz</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section class="center">
					<img src="images/logo-jolicode.png" class="logo"/>
					<br />
					<img src="images/nyan-pony.gif" class="simple inline" />
				</section>

				<section class="center">
					<h1>Mais ça marche chez moi !</h1>
					<div class="spacer"></div>
					<h3>AFUP - PHP Tour Nantes - Edition 2012</h3>
					<img src="images/logo-phptournantes.png" class="simple" />
					<div class="spacer"></div>
					<p>
						<small>Cette conférence n'est pas une conférence sur le cyclimse.</small>
					</p>
				</section>

				<section class="center">
					<h2 class="center">#Fail</h2>

					<img class="fragment simple" src="images/fnac-prout.png" />
				</section>

				<section class="center">
					<h1 class="center">Sources</h1>
				</section>

				<section>
					<h2 class="center">Sources</h2>
					<div class="spacer"></div>
					<p>La question : Comment est-ce que tu gères tes sources ?</p>
					<p>Les réponses :</p>
					<ul>
						<li class="fragment">FTP</li>
						<li class="fragment">Emails</li>
						<li class="fragment">SCP</li>
					</ul>

					<div class="fragment right">
						<img src="images/wat.jpg" />
					</div>
				</section>

				<section class="center">
					<h2 class="center">Sources : Outils</h2>
					<div class="spacer"></div>
					<p>Bien :</p>
					<span class="fragment"><img src="images/logo-subversion.png" class="logo"/></span>
				</section>

				<section class="center">
					<h2 class="center">Sources : Outils</h2>
					<div class="spacer"></div>
					<p>Mieux :</p>
					<span class="fragment"><img src="images/logo-mercurial.png" class="logo"/></span>
					<span class="fragment"><img src="images/logo-git.png" class="logo"/></span>
				</section>

				<section class="center">
					<h2 class="center">Sources : Outils</h2>
					<div class="spacer"></div>
					<p></p>
					<div class="center"><img src="images/github.jpg" class="simple "/>&nbsp;&nbsp;&nbsp;<img src="images/gitlab.png" class="simple "/></div>
				</section>

				<section class="center">
					<h2 class="center">Sources : Outils</h2>
					<div class="spacer"></div>
					<p>Code review :</p>
					<div class="center"><img src="images/code-review.png" class="simple "/></div>
				</section>

				<section>
					<h2 class="center">Branche !</h2>
					<div class="spacer"></div>
                    <h3>One branch to rule them all!</h3>
                    <div class="spacer"></div>
					<div class="center"><img src="images/branche-1.gif" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Branche !</h2>
					<div class="spacer"></div>
                    <h3>One branch to rule them all!</h3>
                    <div class="spacer"></div>
					<ul>
						<li class="fragment">Petits projets</li>
						<li class="fragment" style="color: #17FF2E">Simple, rapide</li>
						<li class="fragment" style="color: #FF2C2D">Quickfix impossible</li>
						<li class="fragment" style="color: #FF2C2D">Aucune séparation des devs</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Branches !</h2>
					<div class="spacer"></div>
                    <h3>Une branche de dev / Une branche de release</h3>
                    <div class="spacer"></div>
					<div class="center"><img src="images/branche-2.gif" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Branches !</h2>
					<div class="spacer"></div>
                    <h3>Une branche de dev / Une branche de release</h3>
                    <div class="spacer"></div>
					<ul>
						<li class="fragment">Moyens projets</li>
						<li class="fragment" style="color: #17FF2E">Simple, moins rapide</li>
						<li class="fragment" style="color: #17FF2E">Quickfix</li>
						<li class="fragment" style="color: #FF2C2D">Aucune séparation des devs</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Branchesssssss !</h2>
					<div class="spacer"></div>
					<h3>n-branches</h3>
                    <div class="spacer"></div>
					<div class="center"><img src="images/branche-3.gif" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Branchesssssss !</h2>
					<div class="spacer"></div>
					<h3>n-branches</h3>
                    <div class="spacer"></div>
					<ul>
						<li class="fragment">Gros projets</li>
						<li class="fragment" style="color: #17FF2E">Quickfix</li>
						<li class="fragment" style="color: #17FF2E">Séparation des devs</li>
						<li class="fragment" style="color: #FF2C2D">Demande une trés bonne organisation</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Branchesssssss !</h2>
					<div class="spacer"></div>
					<h3>n-branches</h3>
                    <div class="spacer"></div>
                    <div class="center"><img src="images/git-fail.png" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Recap.</h2>
					<div class="spacer"></div>
					<ul>
						<li>Utiliser Git (ou autre)</li>
						<li>Utiliser GitHub / GitLab (ou autre)</li>
						<li>Choisir l'utilisation des branches selon votre projet</li>
					</ul>
				</section>

				<section>
					<h1 class="center">Environnements</h1>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<p>La question : Quels sont tes environnements ?</p>
					<p>La réponse :</p>
					<div class="left">
						<ul>
							<li class="fragment">Production</li>
							<li class="fragment">Pré-Production</li>
							<li class="fragment">Recette</li>
							<li class="fragment">Dev' distant</li>
							<li class="fragment">Dev' local</li>
						</ul>
					</div>
					<div class="right fragment">
						<img src="images/server.png" class="simple inline" width="128" height="128" />
						<img src="images/server.png" class="simple inline" width="128" height="128" />
						<img src="images/server.png" class="simple inline" width="128" height="128" />
						<img src="images/server.png" class="simple inline" width="128" height="128" />
						<img src="images/server.png" class="simple inline" width="128" height="128" />
					</div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<p>Son dev distant :</p>
					<div class="spacer"></div>
					<div class="center">
						<img src="images/fail-dev.png" class="simple" />
					</div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<div class="spacer"></div>
					<div class="center"><img src="images/wat-2.jpg" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<p>Sa recette :</p>
					<div class="spacer"></div>
					<div class="center">
						<div class="center"><img src="images/fail-recette.png" class="simple" /></div>
					</div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<div class="spacer"></div>
					<div class="center"><img src="images/wat-3.jpg" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<p>Sa preprod :</p>
					<div class="spacer"></div>
					<div class="center">
						<div class="center"><img src="images/fail-preprod.png" class="simple" /></div>
					</div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<div class="spacer"></div>
					<div class="center"><img src="images/wat-5.gif" class="simple" /></div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<div class="spacer"></div>
					<h3 class="center">Avons-nous besoin d'autant d'environnements ?</h3>
				</section>

				<section>
					<h2 class="center">Développement</h2>
					<div class="spacer"></div>
					<h3>Obligatoire en local, distant si besoin</h3>
					<div class="center">
						<img src="images/server.png" class="simple inline" />
					</div>
				</section>

				<section>
					<h2 class="center">Recette</h2>
					<div class="spacer"></div>
					<h3>Permet de combiner et valider le travail de toute l'équipe de dev</h3>
					<div class="center">
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
					</div>
				</section>

				<section>
					<h2 class="center">Pre-production</h2>
					<div class="spacer"></div>
					<h3>Doit être la réplique quasi-exacte de la production, permet de simuler la production</h3>
					<div class="center">
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
					</div>
				</section>

				<section>
					<h2 class="center">Production</h2>
					<div class="spacer"></div>
					<h3>Un peu obligatoire, non ?</h3>
					<div class="center">
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
						<img src="images/server.png" class="simple inline" />
					</div>
				</section>

				<section>
					<h2 class="center">Environnements</h2>
					<div class="spacer"></div>
					<h3>Le nombre d'environnement dépend du projet</h3>
					<h3>Il faut les maintenir, sinon ils sont inutiles</h3>
				</section>

				<section>
					<h1 class="center">Livraison</h1>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<p>La question : Comment est-ce que tu livre ?</p>
					<p>La réponse :</p>
					<ul>
						<li class="fragment">A la main</li>
					</ul>
					<div class="center fragment right"><img src="images/wat-4.jpg" class="simple inline"/></div>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<p>Cycle de livraison le plus court possible</p>
					<ul>
						<li>Meilleur contrôle</li>
						<li>Plus d'expérience</li>
						<li>Réduit les problèmes, le stress</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Documentation</h3>
					<ul>
						<li>Simple à faire</li>
						<li>Pas normalisé</li>
						<li>Lourd à maintenir</li>
						<li>Rapidement obsolète</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Scripts shell</h3>
					<ul>
						<li>Automatisation</li>
						<li>Assez simple</li>
						<li>Assez limité</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Capistrano</h3>
					<ul>
						<li>Ruby / Open-Source</li>
						<li>Nombreuses tâches disponibles et possibilité de surcharge</li>
						<li>Capifony : Surcharge pour les projets SF/SF2</li>
						<li>Murder : livraison par torrent</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Capistrano</h3>
					<p>Exemple</p>
					<pre><code contenteditable># Port
`-- /var/www/my-app.com
|-- current → /var/www/my-app.com/releases/20100512131539
|-- releases
|   `-- 20100512131539
|   `-- 20100509150741
|   `-- 20100509145325
`-- shared
   |-- web
   |    `-- uploads
   |-- log
   `-- config
       `-- databases.yml
					</code></pre>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Fabric</h3>
					<ul>
						<li>Python / Open-Source</li>
						<li>Makefile amélioré, gestion ssh</li>
						<li>On doit écrire ses scripts</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<h3>Fabric</h3>
					<p>Exemple de config -- @TODO</p>
					<pre><code contenteditable>def deploy():
    with cd('%s' % env.srvdir):
        run('git checkout %s' % env.git_branch)
        run('git pull')
        run('%s composer.phar self-update' % env.php)
        run('%s composer.phar install' % env.php)
        run('%s app/console cache:clear --env=prod --no-debug' % env.php)
        local('app/console assets:install --symlink --env=prod --no-debug web/')
        local('app/console assetic:dump --env=prod --no-debug')
        put('web/css/compiled/*', 'web/css/compiled/')
					</code></pre>
				</section>

				<section>
					<h2 class="center">Livraison</h2>
					<div class="spacer"></div>
					<p>Livraison propre et similaire sur tous vos serveurs</p>
					<p>MAIS</p>
					<p>Problème de livraison == 90% du temps problème de config !</p>
				</section>

				<section>
					<h2 class="center">Livraison et configuration</h2>
					<div class="spacer"></div>
					<h3>Documentation</h3>
					<ul>
						<li>Facile. Au début.</li>
						<li>Aucune normalisation</li>
						<li>Rarement maintenue</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison et configuration</h2>
					<div class="spacer"></div>
					<h3>Configuration management tools</h3>
					<ul>
						<li class="fragment">Déploiement des configurations sur différentes machines</li>
                        <li class="fragment">Synchronisation entre tous nos serveurs</li>
                        <li class="fragment">Normalisation de nos configurations</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison et configuration</h2>
					<div class="spacer"></div>
					<h3>Puppet</h3>
					<ul>
						<li>Ruby</li>
					</ul>
					<h3>CF Engine</h3>
					<ul>
						<li>C</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Livraison et configuration</h2>
					<div class="spacer"></div>
					<h3>Chef</h3>
					<ul>
						<li>Ruby</li>
						<li>$ gem install knife-solo</li>
						<li>Virtual box / Vagrant / Knife / Chef</li>
					</ul>
				</section>

				<section>
					<h2 class="center">Chef</h2>
					<div class="spacer"></div>
					<p>Vos premiers pas</p>
					<ul>
					    <li class="fragment"><a href="http://vagrantup.com/">Vagrant</a></li>
                        <li class="fragment"><a href="http://wiki.opscode.com/display/chef/Chef+Solo">Chef solo</a> (Installé de base sur la plupart des box vagrant)</li>
                        <li class="fragment"><a href="https://github.com/matschaffer/knife-solo">Knife Solo</a></li>
					</ul>
				</section>

				<section>
                    <h2 class="center">Chef</h2>
                    <div class="spacer"></div>
                    <h3>Une recette défini comment installer un logiciel</h3>
                    <pre><code contenteditable>package "php"</code></pre>
                </section>

                <section>
                    <h2 class="center">Chef : Recette</h2>
                    <div class="spacer"></div>
                    <p>Exemple</p>
                    <pre><code contenteditable>pkgs = value_for_platform(
  %w(centos redhat scientific fedora) => {
    %w(5.0 5.1 5.2 5.3 5.4 5.5 5.6 5.7 5.8) => %w(php53 php53-devel php53-cli),
    'default' => %w(php php-devel php-cli)
  },
  [ "debian", "ubuntu" ] => {
    "default" => %w{ php5-cgi php5 php5-dev php5-cli}
  },
  "default" => %w{ php5-cgi php5 php5-dev php5-cli}
)

pkgs.each do |pkg|
  package pkg do
    action :install
  end
end

template "#{node['php']['conf_dir']}/php.ini" do
  source "php.ini.erb"
  owner "root"
  group "root"
  mode "0644"
end</code></pre>
                </section>

                <section>
                    <h2 class="center">Chef : Attributs</h2>
                    <div class="spacer"></div>
                    <p>Les attributs sont toutes les valeurs configurables entres nos différents environnements (un chemin, une valeur dans php.ini, etc ...)</p>
                </section>

                <section>
                    <h2 class="center">Chef : Attributs</h2>
                    <div class="spacer"></div>
                    <p>Exemple</p>
                    <pre><code contenteditable>case node["platform_family"]
when "rhel", "centos"
  default['php']['conf_dir']      = '/etc'
  default['php']['ext_conf_dir']  = '/etc/php.d'
when "debian", "ubuntu"
  default['php']['conf_dir']      = '/etc/php5/cli'
  default['php']['ext_conf_dir']  = '/etc/php5/conf.d'
else
  default['php']['conf_dir']      = '/etc/php5/cli'
  default['php']['ext_conf_dir']  = '/etc/php5/conf.d'
end

default['php']['config']['date.timezone']       = "Europe/Paris"
default['php']['config']['max_execution_time']  = "-1"
default['php']['config']['memory_limit']        = "-1"</code></pre>
                </section>

                <section>
                    <h2 class="center">Chef : Templates</h2>
                    <div class="spacer"></div>
                    <p>Un template est un fichier de configuration à mettre en place sur les serveurs</p>
                </section>

                <section>
                    <h2 class="center">Chef : Templates</h2>
                    <div class="spacer"></div>
                    <p>Exemple</p>
                    <pre><code contenteditable>...

expose_php = On

;;;;;;;;;;;;;;;;;;;
; Resource Limits ;
;;;;;;;;;;;;;;;;;;;

max_execution_time     = <%= @config['max_execution_time'] %>
max_input_time         = 60
memory_limit           = <%= @config['memory_limit'] %>

...</code></pre>
                </section>

                <section>
                    <h2 class="center">Chef : Templates</h2>
                    <div class="spacer"></div>
                    <p>Exemple</p>
                    <pre><code contenteditable>template "#{node['php']['conf_dir']}/php.ini" do
  source "php.ini.erb"
  owner "root"
  group "root"
  mode "0644"
end</code></pre>
                </section>

                <section>
                    <h2 class="center">Chef : Cookbook</h2>
                    <div class="spacer"></div>
                    <p>Cookbook</p>
                    <ul>
                        <li>Recettes</li>
                        <li>Attributs</li>
                        <li>Templates</li>
                        <li>...</li>
                    </ul>
                </section>


                <section>
                	<h2>Vagrantfile</h2>
                	<div class="spacer"></div>
                	<pre><code contenteditable># -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
  config.vm.box = "ubuntu"
  config.vm.network :hostonly, "192.168.33.100"
  config.vm.forward_port 80, 8080

  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = "/Users/ternel/Sites/tools/cookbook-test/cookbooks"
    chef.roles_path = "/Users/ternel/Sites/tools/cookbook-test/roles"
    chef.data_bags_path = "/Users/ternel/Sites/tools/cookbook-test/data_bags"
    chef.add_recipe "chef-php::php"
  end
end</code></pre>
               	</section>

                <section>
                    <h2 class="center">Chef</h2>
                    <div class="spacer"></div>
                    <p>Ne reinventer pas la roue !</p>
                    <ul>
                        <li><a href="http://community.opscode.com/">Chef community</a></li>
                    </ul>
                </section>

				<section>
					<h2 class="center">Merci !</h2>
				</section>

				<section>
					<h2 class="center">Des questions ?</h2>
					<div class="spacer"></div>
					<p>http://ternel.net/chezmoicamarche</p>
					<p>http://github.com/jolicode/chezmoicamarche</p>
					<ul>
						<li>Benjamin Clay - @ternel</li>
						<li>Joel Wurtz - @joelwurtz</li>
						<li>JoliCode - @jolicode</li>
					</ul>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
